<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_LEVEL_ROOT" value="${LOG_LEVEL_ROOT:-INFO}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} - %msg | tenant=%X{tenantId} app=%X{appId} chat=%X{chatId} msgId=%X{messageId} idem=%X{idempotencyId}%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.springframework.kafka" level="WARN"/>

    <root level="${LOG_LEVEL_ROOT}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
